dialog {
    border-radius: 2em;
    background-color: #FFFBFE;
    width: 80%;
    max-width: 40em;
}

#caption {
    padding: 0 4em; 
}

.buttonContainer {
    display: flex;
    margin: 0 3em 2em 0;
    justify-content: flex-end;
    gap: 0.5em;
}
#confirmation {
    padding: 0;
    border-radius: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 1em;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.15px;
    color: #484649;
    margin: 1em 0 3em 0;  
    text-transform: none;
}

#delete {
    padding: 0;
    border-radius: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.15px;
    color: #484649;
    margin: 1em 0 0.5em 0; 
    text-transform: none;
}


#cancel {
    padding: 10px 28px; 
    border: 3px solid #484649; 
    border-radius: 8px; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #484649;
    text-transform: none;
}
#confirm {
    padding: 10px 28px; 
    border: 3px solid #000FF0; 
    border-radius: 8px; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #484649;
    text-transform: none;
}
#cancel:hover {
    background: #939094;
    color: #FFFBFE;
    border: 3px solid #939094;
}
#confirm:hover {
    background: #000FF0;
    color: #FFFBFE;
    border: 3px solid #000FF0;
}



@media (max-width: 768px) {
    #caption {
        padding: 0 2em;
    }

    .buttonContainer {
        margin: 0 auto 1em auto;
        justify-content: center;
    }
}