.container { 
    width: 80px; 
    /* vertical-align: middle; */
    display:flex;
    justify-content: center;
 }
.outer-container{
    display: flex;  
    flex-direction: row;
    height: 5em;
    width: 12em; 
    background-color: #FFFBFE;
    border-radius: 10px;
    border: 1px solid #CAC4D0;
}
.outer-container-archive{
    display: flex;  
    flex-direction: row;
    height: 5em;
    width: 12em; 
    background-color: #CAC4D0; 
    border-radius: 10px;
    border: 1px solid #C9C5CA;
}
.container2 {
    width: 200px; 
    height: 80px;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    line-height: 22px;
}
.image {
    height: 80px;
    width: 80px;
}
.button {
    color: black;
    border-width: 3px;
}