.filter-container {
    margin: 0 1.75rem;
}

.checkbox-header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color: #000000;
}

.button-section {
    margin: .75em .75em 0;
    padding: .5em;
    display: flex;
    justify-content: end;
    align-items: center;
}