.assessment {
    align-items: center;
    justify-content: center;
}

.skillsChecklist{
    font-family: 'Pirate';
    font-size: 56px;
    color: rgba(72, 70, 73, 1);
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 1px;
}

.content {
    font-family: 'Liesel';
    font-size: 32px;
    color: rgba(72, 70, 73, 1);
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}