.assessment {
    align-items: center;
    justify-content: center;
}

.contentTitle{
    font-family: 'Pirate';
    font-size: 56px;
    color: rgba(72, 70, 73, 1);
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.divider {
    border-bottom: 2px solid rgba(72, 70, 73, 1);
    width: 128px;
    margin: 24px auto 36px auto;
}

.content {
    font-family: 'Liesel';
    font-size: 32px;
    color: rgba(72, 70, 73, 1);
    font-weight: 400;
    text-align: center;
    max-width: 85%;
    line-height: 1.5rem;
    margin: 16px auto 48px auto;
}