.line {
    border: 1px solid rgba(233, 233, 233, 1);
    width: 100%;
    top: 40%;
}

#title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.modal {
    overflow: scroll;
}

#popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    padding-bottom: 5%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #FFFBFE;
    border-radius: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#incomplete {
    padding: 20px 28px; 
    border: 2px solid #484649; 
    box-shadow: 0px 4px 8px rgba(60, 55, 68, 0.25);
    border-radius: 12px; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #484649;
    margin: 2em auto;
    left: 50%;
    transform: translateX(-50%);
    text-transform: none;
}

#pending {
    padding: 20px 28px; 
    border: 2px solid #484649; 
    box-shadow: 0px 4px 8px rgba(60, 55, 68, 0.25);
    border-radius: 12px; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #484649;
    margin: 2em auto;
    left: 50%;
    transform: translateX(-50%);
    text-transform: none;
}

#completed{
    padding: 20px 28px; 
    border: 2px solid #484649; 
    box-shadow: 0px 4px 8px rgba(60, 55, 68, 0.25);
    border-radius: 12px; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #FFFBFE;
    background: #484649;
    margin: 2em auto;
    left: 50%;
    transform: translateX(-50%);
    text-transform: none;
}

#incomplete:hover {
    background: #939094;
    box-shadow: 0px 4px 8px rgba(60, 55, 68, 0.25);
    color: #FFFBFE;
    border: 2px solid #939094;
}

#pending:hover {
    background: #939094;
    box-shadow: 0px 4px 8px rgba(60, 55, 68, 0.25);
    color: #FFFBFE;
    border: 2px solid #939094;
}

#completed:hover {
    background: #939094;
    box-shadow: 0px 4px 8px rgba(60, 55, 68, 0.25);
    color: #FFFBFE;
    border: 2px solid #939094;
}

#close {
    border-radius: 100%;
    position: fixed;
    top: 2em;
    right: 2em;
}