.jobFair {
    font-family: 'Liesel';
    font-size: 32px;
    color: #484649;
    font-weight: 400;
    text-align: center;
    margin: 1.5em auto;
    width: 80%; 
    margin-bottom: 15px;
}

.checkBoxesJob {
    position: fixed;
    margin-top: 350px;
    width: 50%;
}

.labelJob {
    margin-bottom: 10px;
}

.col1Job {
    float: left;
    margin-left: 150px;
}

.col2Job {
    float: right;
}

form {
    display: flex;
    flex-direction: column;
}
