.grid-container {
  height: 100vh;  
  width: 100vw;
  background-size: cover !important;
  position: relative;
  overflow: hidden;
}

.roadmap-contents {
  height: calc(100vh);
  width: calc(100vw - 20em);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70em;
}

.details-desktop {
  max-width: 60em;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details-desktop img {
  width: 100%;
}

.details-mobile {
  display: none;
}

.table {
  display: table;
  height: 100%;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.buttons {
  width: 100%;
  height: 100%;
  max-height: 60em;
  position: relative;
}

#assessment,
#online-profile,
#training-program,
#workshop,
#internship,
#job-fair,
#job-portal,
#resource,
#hiring-info {
  position: absolute;
}

#img {
  width: 20vw;
  max-width: 20em;
}

#assessment {
  top: 14%;
  left: 36%;
}

#online-profile {
  top: 20%;
  left: 67%;
}

#training-program {
  top: 36%;
  left: 77%;
}

#workshop {
  top: 55%;
  left: 84%;
}

#internship {
  top: 62%;
  left: 53%;
}

#job-fair {
  top: 72%;
  left: 20%;
}

#job-portal {
  top: 56%;
  left: -5%;
}

#resource {
  top: 40%;
  left: -10%;
}

#hiring-info {
  top: 19%;
  left: 3%;
} 

@media only screen and (max-aspect-ratio: 1/1) {
  .grid-container {
    height: 195em;  
    width: 100%;
  }

  .roadmap-contents {
    /* display: block;
    padding-top: 5vh; */
    height: 100%;
    width: 100%;
  }

  .details-mobile {
    width: 100%;
    height: auto;
    position: absolute;
    top: 10vh;

    display: block;
  }
  
  .details-desktop {
    display: none;
  }

  .table {
    display: block;
    position: relative;
  }
  
  .table-cell {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .buttons {
    max-height: 1000em;
  }

  #img {
    width: 20em;
  }

  /* #assessment,
  #online-profile,
  #training-program,
  #workshop,
  #internship,
  #job-fair,
  #job-portal,
  #resource,
  #hiring-info {
    width: 100vw;
    max-width: 20em;
    height: 20em;
    margin: 0;
  }

  #assessment div button,
  #online-profile div button,
  #training-program div button,
  #workshop div button,
  #internship div button,
  #job-fair div button,
  #job-portal div button,
  #resource div button,
  #hiring-info div button {
    width: 100%;
    height: auto;
  } 

  #assessment div button img,
  #online-profile div button img,
  #training-program div button img,
  #workshop div button img,
  #internship div button img,
  #job-fair div button img,
  #job-portal div button img,
  #resource div button img,
  #hiring-info div button img {
    width: 100%;
    max-width: 32em;
    height: auto;
  } 

  #online-profile,
  #workshop,
  #job-fair,
  #resource {
    right: 5vw;
  } */

  #assessment {
    top: 10.5%;
    left: 35%;
  }

  #online-profile {
    top: 18%;
    left: 15%;
  }

  #training-program {
    top: 24%;
    left: 50%;
  }

  #workshop {
    top: 30%;
    left: 20%;
  }

  #internship {
    margin-top: 128vh;
  }

  #job-fair {
    margin-top: 156vh;
  }

  #job-portal {
    margin-top: 180vh;
  }

  #resource {
    margin-top: 214vh;
  }

  #hiring-info {
    margin-top: 232vh;
  }
}