.background-desktop,
.background-mobile {
  height: 100vh;  
  width: 100vw;
  background-size: cover !important;
  position: relative;
  overflow: hidden;
}

.background-mobile {
  display: none;
  height: 195em;  
}

.roadmap-contents-desktop,
.roadmap-contents-mobile {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  
  height: calc((100vw - 20em) * .75);
  aspect-ratio: 4/3;

  max-width: 90vw;
  max-height: 90vh;

  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.roadmap-contents-mobile {
  height: 92%;
  width: 100%;
  max-height: none;
  max-width: none;
  aspect-ratio: none;
}

#assessment,
#online-profile,
#training-program,
#workshop,
#internship,
#job-fair,
#job-board,
#resources,
#hiring-info {
  position: absolute;
}

#img {
  max-width: 20vw;
  width: min(26vh, 18vw);
  filter: saturate(1.25);
}

#assessment {
  top: 4%;
  left: 37%;
}

#online-profile {
  top: 13%;
  left: 67%;
}

#training-program {
  top: 34%;
  left: 75%;
}

#workshop {
  top: 58%;
  left: 84%;
}

#internship {
  top: 70%;
  left: 53%;
}

#job-fair {
  top: 75%;
  left: 21%;
}

#job-board {
  top: 58%;
  left: -6%;
}

#resources {
  top: 38%;	
  left: -10%;
}


#hiring-info {
  top: 9%;
  left: 3%;
} 

@media only screen and (max-aspect-ratio: 1/1) {
  .background-desktop {
    display: none;
  }

  .background-mobile {
    display: block;
  }

  #img {
    min-width: calc(15em + 10vw);
  }

  #assessment {
    top: 9%;
    left: 38%;
  }

  #online-profile {
    top: 18.5%;
    left: 22%;
  }

  #training-program {
    top: 26.5%;
    left: 46%;
  }

  #workshop {
    top: 36%;
    left: 41%;
  }

  #internship {
    top: 45%;
    left: 40%;
  }

  #job-fair {
    top: 58%;
    left: 41%;
  }

  #job-board {
    top: 67.5%;
    left: 37%;
  }

  #resources {
    top: 79%;
    left: 42%;
  }

  #hiring-info {
    top: 88%;
    left: 39%;
  }
}