.container {
  width: 85%;
  align-self: center;
  margin: 0 auto;  
};

.title {
  font-family: 'Pirates';
}

.infoWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(auto, auto);
  column-gap: 4rem;
  row-gap: 1.5rem;
  background-color: #FFFBFE;
}

.hiringInfoWrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(auto, auto);
  column-gap: 4rem;
  row-gap: 1.5rem;
  background-color: #FFFBFE;
  border: red 2px dotted;
}

.infoCell {
  font-size: 0.9rem;
  color: #484649;
  font-family: 'Montserrat';
}

.infoLabel {
  float: left;
  width: fit-content;
  font-weight: 700;
}

.infoText {
  float: right;
  width: fit-content;
}

@media only screen and (max-aspect-ratio: 1/1) {
  .infoWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .hiringInfoWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
