.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    padding: 70px;
    height: 90vh;  
    background: linear-gradient(180deg, #EFFBFF 0%, #F5F1FF 69.61%, #FFF2F5 100%);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
  }
  /* #assessmentN {
    width: fit-content; 
    height: fit-content;
  }
   #online-profileN {
    width: fit-content;
    height: fit-content;
  }
  #training-programN {
    width: fit-content; 
    height: fit-content;
  }
  #workshopN {
    width: fit-content; 
    height: fit-content; 
  }
  #internshipN {
    width: fit-content;
    height: fit-content; 
  }
  #job-fairN {
    width: fit-content;
    height: fit-content;
  }
  #job-boardN {
    width: fit-content; 
    height: fit-content;
  }
  #resourceN {
    width: fit-content;
    height: fit-content;
  }
  #hiring-infoN {
    width: fit-content; 
    height: fit-content; 
  } */
  /*look into grid resizing and seeing if the images resize */