.resource {
    font-family: 'Liesel';
    font-size: 32px;
    color: #484649;
    font-weight: 400;
    text-align: center;
    margin: 1.5em auto;
    width: 80%;
}

#resourceButton {
    padding: 20px 28px; 
    border: 2px solid #484649; 
    box-shadow: 0px 4px 8px rgba(60, 55, 68, 0.25);
    border-radius: 12px; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.15px;
    color: #484649;
}

#resourceButton:hover {
    background: #939094;
    box-shadow: 0px 4px 8px rgba(60, 55, 68, 0.25);
    color: white;
    border: 2px solid #939094;
}

#incompleteResources {
    padding: 20px 28px; 
    /* left: calc(50% - 210px/2); 
    top: calc(50% - 64px/2 + 324px);  */
    border: 2px solid #484649; 
    box-shadow: 0px 4px 8px rgba(60, 55, 68, 0.25);
    border-radius: 12px; 
    font-family: 'Montserrat';
    text-transform: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #484649;
}

#completedResources{
    padding: 20px 28px; 
    /* left: calc(50% - 231px/2); 
    top: calc(50% - 64px/2 + 31px);  */
    box-shadow: 0px 4px 8px rgba(60, 55, 68, 0.25);
    border-radius: 12px; 
    font-family: 'Montserrat';
    font-style: normal;
    text-transform: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #FFFBFE;
    background: #484649;
    border: 2px solid #484649;
}
#incompleteResources:hover {
    background: #939094;
    box-shadow: 0px 4px 8px rgba(60, 55, 68, 0.25);
    color: #FFFBFE;
    border: 2px solid #939094;
}

#completedResources:hover {
    background: #939094;
    box-shadow: 0px 4px 8px rgba(60, 55, 68, 0.25);
    color: #FFFBFE;
    border: 2px solid #939094;
}

.resources-row {
    display: flex;
    margin-bottom: 2em;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
}
