.workshop {
    font-family: 'Liesel';
    font-size: 32px;
    color: #484649;
    font-weight: 400;
    text-align: center;
    margin: 1.5em auto;
    width: 80%;
}

.line1 {
    border: 1px solid rgba(147, 144, 148, 1); 
    width: 50%;
    top: 90%;
}

.workshop-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
  
.workshop-row-label {
    flex-basis: 48%;
    font-family: 'Pirate';
    font-size: 2.5rem;
    display: block;
    font-weight: 400;
    color: #484649;
    text-align: center;
}

/* form {
    display: flex;
    flex-direction: column;
}

.checkBoxes {
    position: fixed;
    margin-top: 275px;
    width: 50%;
}

.col1 {
    float: left;
    margin-left: 150px;
}

.col2 {
    float: right;
} */