<!DOCTYPE html>
<html>
    <body>
        <h1>Congratulations on completing a milestone!</h1>
        <p>on to the next one, till you're done</p>
        <p>{{username}} typed: {{message}}</p>
    </body>
</html>