<!DOCTYPE html>
<html>
    <body>
        <h1>Congratulations on NOT completing a milestone!</h1>
        <p>navigator says no, so back to the drawing board!</p>
        <p>{{username}} typed: {{message}}</p>
    </body>
</html>