<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{topic}}</title>
    <style>
      .button:hover {
        background-color: #F5A9B8;
      }
    </style>
  </head>
  <body>
    <div style="font-family: 'Montserrat', sans-serif; font-size: 16px; color: #3C3744; line-height: 1.5; width: 100%; max-width: 600px; margin: 0 auto; background-color: #fdeef9; border-radius: 10px; overflow: hidden;">
      <div style="background: linear-gradient(to right, #5BCEFA 0%, #F5A9B8 100%); padding: 20px; color: #ffffff; text-align: center;">
        <h1 style="font-family: 'Montserrat', sans-serif;font-weight: bold; color: #3C3744; margin-top: 0; margin-bottom: 10px; text-transform: uppercase">Hey, {{name}}</h1>
      </div>
      <div style="background-color: #fdeef9; padding: 20px; text-align: center;">
        <p style="margin-top: 0; margin-bottom: 10px;">{{message}}</p>
        <p style="margin-top: 0; margin-bottom: 10px;">
          <a href="https://lablueprint.github.io/trans-can-work/" 
             class="button"
             style="display: inline-block; background-color: #484649; color: #ffffff; text-decoration: none; padding: 10px 20px; border-radius: 5px; margin-top: 20px;"
          >
            View Roadmap
          </a>
        </p>
      </div>
      <div style="background: linear-gradient(to right, #F5A9B8 0%, #5BCEFA 100%); padding: 20px; text-align: center; font-size: 14px;">
        <p style="margin-top: 0; margin-bottom: 10px;"><a href="https://transcanwork.org/">https://transcanwork.org/</a></p>
      </div>
    </div>
  </body>
</html>