{{!-- <!DOCTYPE html>
<html>

<head>
  <title>TCW - Incomplete Milestones!</title>
  <style>
    /* Global Styles */
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      font-size: 14px;
      line-height: 1.6;
      color: #333333;
      background-color: #f6f6f6;
    }

    /* Container Styles */
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 20px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    /* Header Styles */
    .header {
      text-align: center;
      margin-bottom: 20px;
    }

    .header h1 {
      margin: 0;
      font-size: 30px;
      line-height: 1.2;
      color: #2c3e50;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Body Styles */
    .body {
      margin-bottom: 20px;
      background-color: #f9f3d4;
      border-radius: 10px;
      padding: 20px;
    }

    .body p {
      margin: 0 0 20px;
    }

    /* Button Styles */
    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #2c3e50;
      color: #ffffff;
      text-decoration: none;
      border-radius: 30px;
      transition: background-color 0.3s ease;
    }

    .button:hover {
      background-color: #34495e;
    }

    /* Footer Styles */
    .footer {
      text-align: center;
      color: #777777;
    }

    .footer p {
      margin: 0;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="header">
      <h1>TCW - Incomplete Milestones!</h1>
    </div>

    <div class="body">
      <p>Hello {{message}},</p>
      <p>If you're getting this it means you're not done with recruiting and you're SLACKING...</p>
      <img src="/assets/tcw.jpg" alt="TCW Logo" width="200" height="200" style="display:block">
      <p>
        <a href="#" class="button">Complete Milestone</a>
      </p>
    </div>

    <div class="footer">
      <p>Here's a link to our website: <a href="https://www.tcklibrary.org/">https://www.tcklibrary.org/</a></p>
    </div>
  </div>
</body>

</html> --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCW - no progress</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <style type="text/css">
      body {
        margin: 0;
        background-color: #FFFBFE;
        max-width: 959px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        text-align: center;
        font-size: 28px;
        color: #3C3744;
        line-height: 150%;
      }
      .wrapper {
        width: 100%;
        table-layout: fixed;
        background-color: #FFFBFE;
      }
      .main {
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        border-spacing: 0;
        font-family: 'Montserrat', sans-serif;
        color: #3C3744;
      }
      .container {
        width: 100%;
        width: 735px;
        margin: 0 auto;
        background-color: #FFFBFE;
        overflow: hidden;
        gap: 24px;
      }
      h1 {
        text-transform: uppercase;
        font-family: 'Pirate';
      }
      a {
        text-decoration: none;
        margin-bottom: 27px;
        padding-bottom: 116px;
      }
      img {
        width: 420px;
        max-width: 100%;
        flex-shrink: 0;
      }
      
      /* Button Styles */
      .button:hover {
        background-color: #6a6a6a;
      }
      .button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        display: inline-flex;
        background-color: #484649;
        color: #ffffff;
        text-decoration: none;
        border-radius: 20.25px;
        padding: 33.75px 47.25px;
        background: var(--neutral-20, #484649);
        box-shadow: 0px 6.75px 13.5px 0px rgba(60, 55, 68, 0.25);
      }
    </style>
  </head>
  <body>
    <center class="wrapper">
      <table class"main" width="100%">
        <tr>
          <td style="text-align: center;padding: 15px;">
            <h1>hey, {{message}}</h1>
            <p>It looks like you have some uncompleted milestones waiting for you over at TransCanWork. Ready to set sail and take the next step in your career?</p>
            <a href="#" class="button">View Your Roadmap</a>
            <img src="trans-flag-graphic.png" alt="trans flag graphic" width="420" style="max-width: 100%;" title="trans flag graphic"/>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
  {{!-- <body>
    <div class="container">
      <div class="header">
        <h1 style="margin-top: 0;">TCW - Incomplete Milestones</h1>
      </div>
      <div class="content">
        <p>Hello {{message}},</p>
        <p>If you're getting this it means you're not done with recruiting and you're SLACKING...</p>
        <p>
          <a href="#" class="button">Complete Milestone</a>
        </p>
      </div>
      <div class="footer">
        <p>Here's a link to our website: <a href="https://www.tcklibrary.org/">https://www.tcklibrary.org/</a></p>
      </div>
    </div>
  </body> --}}
</html>
