<!DOCTYPE html>
<html>
    <body>
        <h1>Dear Navigator, your jobseeker completed a milestone</h1>
        <p>choose to congratulate {{username}} or disapprove their completion</p>
    </body>
</html>