.dashboard-page-container{
    margin-top: 1em;
}

.dashboard-page-headers-container{
    display: flex;
    flex-direction: column;
    padding: 0 4em;
    box-shadow: 0 4px 4px #c9c9c9;
}

.dashboard-page-headers-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1em 0 2em 0;
}

.dashboard-page-title{
    font-family: 'Montserrat';
    font-size: 3em;
    font-weight: normal;
    margin: 0;
    text-align: left;
    display:flex;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dashboard-page-headers-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5em;
    flex-wrap: wrap;
    gap: 1em;
}

.dashboard-page-header-profile-text{
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dashboard-page-header-name-and-icon-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    column-gap: 1em;
    width: 100%;
}

.dashboard-page-welcome-block-header{
    display: flex; 
    flex-direction: row;
    min-height: 3em;
    margin-bottom: 2.5em;
    justify-content: space-between;
    align-items: baseline;
}

.dashboard-page-profile-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16.5em);
    grid-row-gap: 1em;
    justify-content: space-between;
    margin: 1.5rem 4rem;
}

.profile-button-avatar{
    height: 2em;
    width: 2em;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
}

.profile-button-text-container {
    width: 100%;
    overflow: hidden;
}

.profile-button-name-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.dashboard-page-chip-container {
    margin: 2rem 4rem;
}

.dash-nav-searchbar{
    display: flex;
    align-items: end;
    margin-bottom: 1em;
    width: 20em;
    font-size: 1rem;
}

.dash-nav-searchbar * {
    font-size: 1rem;
}

.dash-admin-searchbar {
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    width: 20em;
    padding: 0.75em 1em;
    font-size: 1rem;
    align-self: flex-end;
}

.dash-admin-searchbar * {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .dashboard-page-title{
        font-size: 2em;
    }

    .dashboard-page-headers-main {
        flex-wrap: wrap;
    }

    .dashboard-page-headers-container{
        padding: 0 2em;
    }

    .MuiTab-root {
        margin: 0 !important;
        padding: 0 0.8em !important;
        font-size: 0.8rem !important;
        min-width: fit-content !important;
    }
}