@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    src: url('../Assets/Fonts/Montserrat-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../Assets/Fonts/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../Assets/Fonts/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../Assets/Fonts/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../Assets/Fonts/Montserrat-Regular.svg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    src: url('../Assets/Fonts/Montserrat-Bold.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../Assets/Fonts/Montserrat-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../Assets/Fonts/Montserrat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../Assets/Fonts/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../Assets/Fonts/Montserrat-Bold.svg') format('svg'); /* Legacy iOS */
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1em;
    text-align: left;
    margin-left: 16.3em;
  }

.h1-altered {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    text-align: left;
  }

/* label { 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: flex-start;
    display: inline-block;
    text-align: left;
    width: 100%
} */

h2 { 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    margin-left: 19.5em;
}

h3 
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-left: 10%;
}

input, textarea {
    font-family: 'Montserrat';
    margin-left: 10%;
}

.outer-container {
    display:flex; 
    flex-direction: row;
    margin-top: 8%;
    gap: 200px;
    padding: 0;
    margin: 0;
    width: 80%;
    margin: 0 auto;
}
.profile-photo-container {
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
    width: 500px;
}
.top-container{
    display:flex; 
    flex-direction: row;
}

.assessment-page-headers-container{
    display: flex;
    flex-direction: column;
    margin-left: 7em;
}

.assessment-page-title{
    font-family: 'Montserrat';
    font-size: 3em;
    font-weight: normal;
    margin: 0;
    text-align: left;
    display:flex;
}

.assessment-page-header-profile-text{
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    display: flex;
    margin-right: 1em;
}

.assessment-page-back-text{
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    display:flex;
}

.header-image-container {
    display: flex;
    justify-content: center; /* center the child element horizontally */
    align-items: center; /* center the child element vertically */
  }

.assessment-page-header-name-and-icon-container{
    display: flex;
    flex-direction: row;
    margin-top: 2.5em;
}

.assessment-page-header-empty-block{
    flex: 0 0 80%;
}

.assessment-page-back-empty-block{
    flex: 0 0 0%;
}

.assessment-page-welcome-block-header{
    display: flex; 
    flex-direction: row;
    height: 3em;
    margin-bottom: 2.5em;
}

.add-buttons {
    width: 14em;
    height: 4em;
    margin-bottom: 1%;
    background-color: #000AA0;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-buttons {
    width: 14em;
    height: 4em;
    margin-bottom: 1%;
    background-color: white;
    color: black;
    border-radius: 5px;
    border-color: black;
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-button {
    text-align: left;
    margin-bottom: .3em;
    padding-left: 19.7em;
}

.columns-container {
    display: flex;
    justify-content: space-between;
  }
  
  .checkboxes-column-left {
    width: 50%; /* Adjust the width as needed */
    /* Styles for the checkboxes columns */
  }
  .checkboxes-column-right {
    width: 50%; /* Adjust the width as needed */
    /* Styles for the checkboxes columns */
  }

  .dropdown {
    height: 10000px;
  }