@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    src: url('../../Assets/Fonts/Montserrat-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../../Assets/Fonts/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../Assets/Fonts/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../Assets/Fonts/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../Assets/Fonts/Montserrat-Regular.svg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    src: url('../../Assets/Fonts/Montserrat-Bold.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../../Assets/Fonts/Montserrat-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../Assets/Fonts/Montserrat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../Assets/Fonts/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../Assets/Fonts/Montserrat-Bold.svg') format('svg'); /* Legacy iOS */
}

.all-header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 2em auto;
    height: 100%;
}

.left-header-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 26px;
    width: 100%;
    height: 8em;
}

.right-header-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 8em;
}

.go-back {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.go-back-arrow {
    width: 0.6em;
    height: 0.8em;
    margin-right: 1.5em;
}

.assessment-page-back-text{
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    color: black;
    padding-top: 0.55em;
}

.username-text-roadmap {
    font-family: 'Montserrat';
    font-size: 2.5em;
    font-weight: 400;
    text-align: left;
}

.align-helper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.username-text {
    font-size: 1em;
    font-weight: 700;
    font-family: 'Montserrat';
    padding-right: 1em;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.menu-button-wrapper {
    height: 4em;
    width: 4em;
    color: white;
    background-color: white;
    box-shadow: none;
    border: none;
    display: none;
}

.menu-button {
    width: 3em;
    height: 2em;
    background-color: white;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    cursor: pointer;
}

.mobileMenuOff {
    display: none !important;
}

.mobileMenuOn {
    display: block !important;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    margin: 0 !important;
    min-height: 100vh !important;
    background-color: white;
}

.mobileMenuOn * {
    display: block !important;
}

.mobileMenuOn .MuiTabs-scroller {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2em;
    overflow:visible;
}

.close-button {
    position: absolute;
    top: -14em;
    right: -1em;
    cursor: pointer;
    z-index: 99999;
}

@media (max-width: 768px) {
    .menu-button-wrapper,
    .menu-button {
        display: block;
    }

    .username-text-roadmap {
        font-size: 2em;
    }
}

@media (min-width: 768px) {
    .mobileMenuOn {
        display: none !important;
    }
}