.container { 
    width: 80px; 
    height: 80px;
    vertical-align: middle;
 }
.outer-container{
    display: flex;  
    flex-direction: row;
    height: 80px;
    width: 250px; 
    background-color: #FFFBFE;
}
.outer-container-archive{
    display: flex;  
    flex-direction: row;
    height: 80px;
    width: 250px; 
    background-color: #CAC4D0; 
}
.container2 {
    width: 200px; 
    height: 80px;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    line-height: 22px;
}
.image {
    height: 80px;
    width: 80px;
}
.button {
    color: black;
    border-width: 3px;
}