.containerSection {
  border-radius: 30px;
  background-color: black;
}

.imageSection {
  background-image: url(/src/Assets/pirate_ship.svg);
  width: 100%;
  height: 150px;
  background-position: center;
}

.profilePicButton {
  position: absolute;
  width: 10px;
  top: 165px;
  left: 130px;
}

.coverPicButton {
  position: absolute;
  width: 10px;
  top: 100px;
  right: 40px;
}

.buttonSection {
  position: absolute;
  right: 30px;
  top: 10px;
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profilePic {
  position: absolute;
  left: 50px;
  top: 90px;
}

.textSection {
  color: #484649;
  padding: 30px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 21rem;
  overflow: hidden;
}

.profileLabel {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-top: 2rem;
  height: 3rem;
}

.nameLabel {
  font-size: 2.5rem;
  font-family: 'Pirate';
  font-weight: 400;
}

.pronounLabel {
  margin: 1.3rem;
  font-family: 'Pirate';
  font-size: 1.5rem;

}

.bioSection {
  width: 100%;
}

.inputSection {
  height: 50px;
  font-family: 'Montserrat';
}

.inputTitle {
  margin-bottom: 5px;
  font-family: 'Montserrat';
}

.bio {
  font-family: 'Montserrat';
}
.container {
  display: flex;
  /* align-items: center; */
  overflow: hidden; /* will contain if #first is longer than #second */

}

.avatar {
  float:left; /* add this */
}

.details {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden; /* if you don't want #second to wrap below #first */
  flex-direction: column;
}
