@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    src: url('../../Assets/Fonts/Montserrat-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../../Assets/Fonts/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../Assets/Fonts/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../Assets/Fonts/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../Assets/Fonts/Montserrat-Regular.svg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    src: url('../../Assets/Fonts/Montserrat-Bold.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../../Assets/Fonts/Montserrat-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../Assets/Fonts/Montserrat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../Assets/Fonts/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../Assets/Fonts/Montserrat-Bold.svg') format('svg'); /* Legacy iOS */
}

.temp {
    height: 5em;
}

.op-title {
    width: 56.3vw;
    padding-bottom: 1.2em;
    margin: 0 auto;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 1.3em;
}

.width-55vw {
    width: 56.3vw;
    margin: 0 auto;
}

.op-add-button {
    margin-top: -1em;
    width: 14em;
    height: 4em;
    margin-bottom: 1%;
    background-color: #000AA0;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: center;
}

.op-add-button:hover {
    background-color: #AAAFFA;
}

.op-delete-button {
    width: 14em;
    height: 4em;
    margin-bottom: 1%;
    background-color: white;
    color: black;
    border-radius: 5px;
    border-color: black;
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: center;
}
.op-delete-button:hover {
    background-color: #D9D9D9;
    border: 0px;
}

.op-between-inputs {
    height: 1.4em;
}

.op-between-buttons {
    height: 1em;
}

.MuiOutlinedInput-root.Mui-focused, .MuiOutlinedInput-notchedOutline {
    border-color: #000AA0 !important;
    border-width: 1px;
}

.PrivateNotchedOutline-legendLabelled-19 {
    width: auto !important;
}

.input-field * {
    border-width: 1px !important;
}

.alert-modal {
    background-color: #FED8ED;
    border: 1px solid #A5296F;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 2em;
    width: 55vw;
}

.alert-modal p {
    text-align: left;
    margin: 1.5em auto 0 auto;
    width: 90%;
    font-family: 'Montserrat';
    font-size: 16px;
}

.alert-modal p a {
    font-weight: bold;
    color: #CF338A;
    text-decoration: none;
}

.actions {
    width: 90%;
    margin: 1em auto 1.5em auto;
    display: flex;
    flex-direction: horizontal;
    gap: 1em;
}

.approve-button {
    width: 14em;
    height: 4em;
    color: white;
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #000;
    background: #F95DB5;
}

.approve-button:hover,
.approve-button:focus {
    background-color: #c53888;
}

.deny-button {
    width: 14em;
    height: 4em;
    color: black;
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #000;
    background: white;
}

.deny-button:hover,
.deny-button:focus {
    background-color: #d8d8d8;
}