.no-accounts-container{
    width: 100%;
}

.no-aacounts-text-container{
    font-family: montserrat;
    font-size: 1.5rem;
    width: 55%;
    margin: 5rem auto 3rem auto;
}

.no-accounts-image{
    height: 30vw;
}