@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: url('./Assets/Fonts/Montserrat-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('./Assets/Fonts/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./Assets/Fonts/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./Assets/Fonts/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./Assets/Fonts/Montserrat-Regular.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  src: url('./Assets/Fonts/Montserrat-Bold.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('./Assets/Fonts/Montserrat-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('./Assets/Fonts/Montserrat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('./Assets/Fonts/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./Assets/Fonts/Montserrat-Bold.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Pirate';
  font-weight: normal;
  font-style: normal;
  src: url('./Assets/Fonts/Pirates.otf') format('opentype'), 
  url('./Assets/Fonts/Pirates.ttf') format('truetype');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}